{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<!--상단이미지-->
<section class="hero">
  <div style="position:relative;">
  <img src="https://i.esdrop.com/d/f/bvRLlOwptP/1aDwWuWMwP.png" alt="ski review create img">
  </div>
  <div class="row-2>
  </div>
       <div class="col-md-1"style="position:relative;">
     <div class="carousel-caption" style="top:11rem; max-height:100px; position:absolute;transform: translate( -50%, -50%, -50%, -50% );">
       <h3 style=" font-size:3rem;padding-top:0px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;">리뷰 등록</h3>
     </div>
    </div>
  </div>
</section>


<div class="row d-flex justify-content-center align-items-center">
  <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top:60px;">
    <div class="my-4">

  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {{form.as_p}}-->
    {% bootstrap_form form %}
     <input type="file" name="image[]" multiple="multiple">
    <br>
    <div style="margin-top:10px; text-align:center;">
      <!--<button class="login_btn btn" type="submit">작성완료</button>-->
      <br>
      <button type="button submit" class="btn btn-dark" style="text-align:center;">작성완료</button>
      <!--<input type="submit">-->
    </div>
    </form>
</div>
</div>
</div>
{% endblock %}
