{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% load static %}
{% block content %}

<!--상단이미지-->
<section class="hero">
  <img src="https://i.esdrop.com/d/f/bvRLlOwptP/XN2Lkfc09Z.png" alt="place create img">
  <div class="row-2"></div>
  <div class="col-md-1">
    <div class="carousel-caption hero-text" style=" max-height:200px;">
      <div class="hero-text2"
        style="font-size:55px;padding-top:0px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;">리뷰수정
      </div>
    </div>
  </div>
  </div>
</section>

<div class="row d-flex justify-content-center align-items-center">
  <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top:60px;">
    <div class="my-4 col-4">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% for photo in photos %}

        <img src="{{photo.image.url}}">
        <!--만약 위에것이 삭제대상이면-->
        <input type="checkbox" name="dellist" value="{{photo.pk}}">
        {% endfor %}
        <input type="file" name="image[]" multiple="multiple">
        <button type="button submit" class="btn btn-dark" style="text-align:center;">수정완료</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}