/* 폰트 */
@font-face { 
	font-family: 'pre';
	src: url('../fonts/web/static/woff/Pretendard-Black.woff');
	font-weight: normal;
}

@font-face { 
	font-family: 'b-pre';
	src: url('../fonts/web/static/woff/Pretendard-Bold.woff');
	font-weight: bold;
}

* {
	font-family: 'b-pre', sans-serif;
}
/* 로그인 검은색 버튼 */
.account_bt {
 font-weight:bold;
 background-color: #ffff;
 color: black;
 outline:#232323;
 border: 1px solid #232323;
 display: inline-block;
 height: 60px;
 line-height: 58px;
 border-radius:0px;
}

.btn:hover {
 background-color: #232323;
 color:white;
 outline: none;
}
.login_btn {
 font-weight:bold;
 background-color: #232323;
 color: white;
 outline:#232323;
 border: 1px solid #232323;
 display: inline-block;
 height: 60px;
 line-height: 58px;
 border-radius:0px;
}
.account_btn:focus {
 background-color: #D9F1F1;
 outline: none;
 box-shadow: 3px 3px 3px rgb(121, 121, 121);
}

/* 취소버튼 css */

.btn2 {
 background-color: #FAD4AE;
 color: black;
 outline: none;
 box-shadow: 3px 3px 3px rgb(121, 121, 121);
}

.btn2:hover {
 background-color: #FDAFAB;
 outline: none;
}

.btn2:focus {
 background-color: #FAD4AE;
 outline: none;
 box-shadow: 3px 3px 3px rgb(121, 121, 121);
}


.head-img{
 align-items: center;
 height:200px;
 max-width:600px;
 background-image: url("https://cdn.pixabay.com/photo/2017/03/31/21/18/panorama-2192454__480.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}

:root {
	/* Color */
	--yellow-color: #ffdf29;
	--gray-color: #adb5bd;
  }

.section.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}  

section.hero img{
	width:100%;
	max-height: 300px;
	object-fit:cover;
	justify-content: centers;
	align-items: center;
}

/* 반응형을 위한 hr스타일통일 */

/* 아이콘 설정 */
i{
	 font-size:25px;
	 margin:8px;
		color:black;
}
i:hover{
	color:#5b5050;
}
.fix-account{
	color:#036635;
}
.del-account{
	color:rgb(166, 0, 0)
} 
a{
	text-decoration: none;
	color:rgb(3, 3, 3);
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}

.resort-arr{
	flex-wrap: wrap;
	min-width:350px;
	}
.img_text_2 {
  position: absolute;
  font-size:4rem;
  top: 40%;
  left: 40%;
  color:white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.hero-text{
  position:absolute;
  right:80px;
  top:120px;
  max-height:40px;
}
.hero-text2{
  position:absolute;
  left:0px;
  right:0px;
  top:40px;
}
.caro-size1{
	width:100%;
	height:33rem;
	position:relative;
}
.caro-size2{
	width:100%;
	height:33rem;
	position:relative;
}
.caro-size3{
	width:100%;
	height:33rem;
	position:relative;
}
.review-box{
  margin-right:250px;
  margin-left:300px;
  margin-top:60px;
}
.accounticon{
  position:absolute;
  left:300px;
}
.img_text_1 {
  font-size: 39px;
  position: absolute;
  top: 6rem;
  right: 20rem;
  color:white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
@media screen and (max-width:1011px){
.review-box{
  margin-right:50px;
  margin-left:50px;
  margin-top:60px;
}
.img_text_1 {
  position: absolute;
  font-size: 39px;
  right: 200px;
  bottom: 15rem;
  color:white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.caro-size1{
	width:100%;
	height:17rem;
	position:relative;
}
.resort-arr{
flex-wrap: wrap;
min-width:500px;
}
.img_text_2 {
	position: absolute;
	font-size:3rem;
	top: 20%;
	left: 35%;
	color:white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.hero-text{
  position:absolute;
  right:80px;
  top:50px;
  max-height:40px;
}
.hero-text2{
  position:absolute;
  left:0px;
  right:0px;
  top:40px;
}
.accounticon{
  position:absolute;
  left:200px;
}
}
@media screen and (max-width:815px){
.img_text_1 {
  position: absolute;
  right: 8rem;
  bottom: 16rem;
  font-size: 39px;
  color:white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
}
  /* min */
@media screen and (max-width:576px){
	.img_text_1 {
  position: absolute;
  right: 1rem;
  top:2rem;
  font-size: 39px;
	color:white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.img_text_2 {
	position: absolute;
	font-size:2rem;
	top: 10%;
	left: 30%;
	color:white;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.caro-size{
	width:100%;
	height:13rem;
	position:relative;
}
.resort-arr{
	flex-wrap: wrap;
	min-width:500px;
	}
.hero-text{
  position:absolute;
  right:80px;
  top:50px;
  max-height:40px;
}
.hero-text2{
  position:absolute;
  left:0px;
  right:0px;
  top:20px;
}
.accounticon{
  position:absolute;
  left:100px;
}
}