{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load static %}
{% bootstrap_javascript %}

{% block content %}
  <div class="h-100 d-flex flex-column justify-content-center align-items-center">
    <!-- <img src="{% static 'images/.png' %}" class="delete-img">-->
    <h1 class="fw-bold retro">탈퇴하시겠습니까?</h1>
    <div class="d-flex">
      <a href="{% url 'accounts:detail' request.user.pk %}" class="text-decoration-none text-white">
        <div class="detail-btn">취소</div>
      </a>
      <a href="{% url 'accounts:delete' request.user.pk %}" class="text-decoration-none text-white">
        <div class="detail-btn" style="background-color: rgb(166, 166, 166)">탈퇴</div>
      </a>
    </div>
  </div>
{% endblock %}