{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load static %}
{% bootstrap_javascript %}
<script src="https://kit.fontawesome.com/a43f3ad032.js" crossorigin="anonymous"></script>
<!--상단이미지-->
{% block content %}

<section class="hero">
  <img src="https://i.esdrop.com/d/f/bvRLlOwptP/Vqr3z7jiaw.png" alt="ski login img">
  <div class="row-2">
  </div>

       <div class="col-md-1">
     <div class="carousel-caption" style="top:150px; max-height:100px;">
       <h1 style="font-size:55px;padding-top:0px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;">마이페이지</h1>
     </div>
  </div>
</section>


      <!--마이페이지-->
      <div class="container-fluid">
        <div class="row d-flex">

          <!-- 프로필 전체 영역 -->

          <div class="d-flex flex-column justify-content-center align-items-center" style="background-color: #f5f5f5; padding-top:6rem; padding-bottom:6rem;">


            <!-- 프로필 상단 영역 -->
            <div class="d-flex flex-row">

              <!-- 프로필 이미지 영역 -->
              <div class="me-5">
                {% if customer.image %}
                  <img src="{{ customer.image.url }}" class="rounded-circle" alt="profile_image">
                {% else %}
                  <img src="https://i.esdrop.com/d/f/bvRLlOwptP/D1wDSBrqJO.jpg" style="width: 200px; border-radius:50%" alt="default_profile_image">
                {% endif %}
              </div>
              <!-- {% if customer.image %} <img class="accoutns-detail-img-div" src="{{customer.image.url}}" alt="customer.image.url"> {% else %} -->
              <!-- <div> <img class="accounts-detail-img-div" src="" alt="customer.image.url" height="100" width="100"> </div>-->
              <!-- {% endif %} -->

              <!-- 프로필 상단/프로필 영역 제외 나머지 -->
              <div class="d-flex flex-column">
                <div>
                  <br><br>
                  <p class="detail_name_id">ID :
                    {{customer.username}} </p>
                  <p>Email :
                    {{customer.email}}</p>
                </div>

              </div>

              <!--프로필 수정/삭제 요청과 사용자가 일치하는 경우-->

              <div class="d-flex align-items-center ms-3"style="position:relative">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end"style="position:absolute; bottom:12rem;  ">

                {% if request.user.pk == customer.pk %}
                  <a href="{% url 'accounts:update' customer.pk %}" style="display:inline-block;height:20px;">
                    <i class="fa-solid fa-gear fix-account"></i>
                  </a>
                  <a href="{% url 'accounts:delete' customer.pk %}">
                    <i class="fa-solid fa-trash del-account"></i>
                  </a>
                {% endif %}
              </div>
            </div>
          </div>


<!-- 프로필 하단 영역 -->
<div class="container d-flex flex-column bg-white rounded-5 mt-5">
  <div class="menu navbar-nav d-flex flex-row justify-content-center py-4">
    <li>
      <a type="button" id="myReview" class="pe-2 text-black"style="text-decoration:none;">
        <h5>
          <i class="fa-regular fa-star"></i>
          리뷰</h5>
      </a>
    </li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a type="button" id="myReservation" class="pe-2 text-black" style="text-decoration:none;">
        <h5>
          <i class="fa-regular fa-bookmark"></i>
          예약</h5>
      </a>
    </li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a type="button" id="myPay" class="text-black"style="text-decoration:none;">
        <h5>
          <i class="fa-regular fa-credit-card"></i>
          결제</h5>
      </a>
    </li>
  </div>



          <!-- 구매목록 -->
<div class="container d-flex flex-column justify-content-center align-items-center"
style="max-width:1070px; font-weight: 600; padding: 60px 0 0;">
<p style="font-weight: 700; font-size: 28px; color: rgb(51, 51, 51); margin-bottom: 27px;">구매 목록</p>
<div class="d-flex align-items-center justify-content-center" style="width: 1070px; margin: 0 auto;">
  {% if not order_transactions %}
  <div class="d-flex justify-content-center">
    <p style="font-size: 24px; color: rgb(204, 204, 204);">아직 구매목록이 없습니다. 💸</p>
  </div>
  {% else %}
  <div class='d-flex row'
    style="margin: 0 auto; width: 1070px; overflow-x: scroll; overflow: hidden; gap: 5px; padding: 0px;">
    <div class="scrolling-wrapper d-flex" style="width: 1070px; gap:10px">
      {% for place in order_transactions %}
      <div class="productcard swiper-slide"
        style="border: 0px solid black; color: rgb(51, 51, 51); width: 256px; height: 435px;"
        data-value="{{ place.category }}">
        <a href="{% url 'products:detail' place.pk %}" style="color:rgb(51, 51, 51)">
          <div class="product-img" style="">
            <img src="{{ place.image_set.all.0.image.url }}" alt="" width="100%" height="329px"
              style="object-fit: cover">
          </div>
        </a>
        <!-- 모달버튼 -->
        <button type='button' style='border:none; background-color:transparent;' class='ddib-to-cart d-flex'
          data-bs-toggle="modal" data-bs-target='#ddibtocartModal-{{ product.pk }}'>
          <img style='top: 278px' class='cart-img position-absolute end-0 mx-2'
            src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg=="
            alt="">
        </button>
        <div style="padding: 12px 10px 0 0">
          <div class="d-flex justify-content-between">
            <span class="m-0" style="color:#B5B5B5; font-weight: 400;">{{ place.name }}</span><span class="m-0"
              style="padding: 0px 10px; border-radius: 22px; background-color: rgba(274, 243, 248, 1); color:#5e0080; font-weight: 500;">
              {{ place.address }}</span>
          </div>
          <p class='product-name' style="font-weight: 400; font-size: 14px; margin-bottom: 8px;">
            {{ place.subtext }}
          </p>
          <p class="m-0" style="font-weight: 800; font-size: 16px;">{{ place.price }} 원</p>
        </div>
      </div>
      <!-- 모달 -->
      <div class="modal fade" id="ddibtocartModal-{{place.pk }}" tabindex="-1"
        aria-labelledby="ddibtocartModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin: 200px auto">
          <div class="modal-content">
            {% comment %} <div class="modal-header">
              <h1 class="modal-title fs-5" id="ddibtocartModal">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div> {% endcomment %}
            <div class="modal-body item-cart-modals" data-item-id="{{ place.pk }}" style="padding: 30px 30px;">
              {% comment %} modal 하나하나에 해당하는 item의 id를 가져와서 defaultItemPrice에 접근 {% endcomment %}
              <div class='text-center mb-3'>
                {{ place.name }}
              </div>
              <div class="row">
                <!-- 수량 입력 -->
                <!-- <div class="">
                  <form action="{% url 'accounts:tocart' product.pk %}" method="POST">
                    {% csrf_token %}
                    <div class='d-flex justify-content-center mb-3'>
                      <input data-item-id="{{ place.pk }}" id="quantity-{{ place.pk }}"
                        style='width:80px; height:30px' class="form-control quantity-input me-2 text-center"
                        type="number" name="checkquantity" min="1" value="1">
                      <div class="d-none" id="price-{{ place.pk }}">{{ place.price }}</div>
                      <div class="fw-bold mt-1 mb-2 text-center" style=''><span class="price-fields"
                          id="price-{{ place.pk }}-field">{{ place.price }}</span>원</div>
                    </div>
                    <div class='d-flex justify-content-center'>
                      <button type="button" class="btn me-2" data-bs-dismiss="modal"
                        style="border:solid 1px #d3d3d3; border-radius:3px; height:50px; width:120px; background-color: white;">취소</button>
                      <button type="submit" class="cart" data-bs-dismiss="modal"
                        data-bs-target='#cartModal-{{ product.product.pk }}'
                        style="border-radius:3px; border:0px; height:50px; width:120px; background-color: #5e0080; color: white">장바구니
                        담기</button>
                    </div>
                  </form> 
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
</div>




          <!-- 후기 내역 -->
          <div class='container' style="max-width: 1070px; padding: 60px 0;">
            <div style="padding: 0 40px;">
              <p class="text-center" style="font-weight: 700; font-size: 28px; color: rgb(51, 51, 51); margin-bottom: 27px;">후기 내역</p>
              {% if not reviews %}
                <div class="d-flex justify-content-center">
                  <p style="font-size: 24px; color: rgb(204, 204, 204);">아직 후기내역이 없습니다 📝</p>
                </div>
              {% else %}
                <!-- 후기 등록 버튼 & 모달 -->
                <div class="row">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="fw-bold m-0" style='font-size: 18px; font-weight: 700;'>후기 내역</p>

                  </div>
                </div>

                <!-- 후기 목록 -->
                <div class="row px-3 mb-5" style="border-top:1px solid black;">
                  <table class="table">
                    <thead class="text-center">
                      <tr>
                        <th scope="col" style="width: 710px;">제목</th>
                        <th scope="col" style="width: 100px;">작성자</th>
                        <th scope="col" style="width: 100px;">작성일</th>
                        <th scope="col" style="width: 100px;">답변상태</th>
                      </tr>
                    </thead>

                    <tbody id="reviewTableBody">
                      {% for review in reviews %}
                        <tr class="review-{{ review.pk }}" data-bs-toggle="collapse" data-bs-target="#collapse-review-{{ review.pk }}" aria-expanded="false" style="vertical-align: middle;">
                          <td id="review-title-{{ review.pk }}" class="px-3" scope="row" style="width: 710px;">{{ review.title }}</td>
                          <td style="width: 100px;" class="text-center">{{ review.user }}</td>
                          <td style="width: 100px;" class="text-center">{{ review.created_at|date:'Y.m.d' }}</td>
                          {% if inquiry.reply %}
                            <td style="width: 100px;" class="text-center">
                              <span style="color:#5e0080">답변완료</span></td>
                          {% else %}
                            <td id="reply-status-{{ review.pk }}" style="width: 100px;" class="text-center">-</td>
                          {% endif %}
                        </tr>

                        <!-- 후기 내용 및 답변 Collapse -->
                        <tr class="collapse review-{{ review.pk }}" id="collapse-review-{{ review.pk }}">
                          <td colspan="4" class="text-bg-light px-3">
                            <div>
                              <div class="d-flex">
                                <div class="me-3">Q.</div>
                                <div id="review-content-{{ review.pk }}">{{ review.content }}</div>
                              </div>
                            </div>
                          </div>

                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <!-- 후기 페이지네이션 -->
              <ul class="pagination justify-content-center">
                <!-- 이전 페이지 -->
                {% if reviews.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?review_page={{ reviews.previous_page_number }}" aria-label="Previous">
                      <i class="bi bi-chevron-double-left"></i>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                      <i class="bi bi-chevron-double-left"></i>
                    </a>
                  </li>
                {% endif %}

                <!-- 페이지 리스트 -->
                {% for page_number in reviews.paginator.page_range %}
                  {% if page_number == reviews.number %}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" style='background-color:#5e0080; border-color:#dee2e6;' href="?review_page={{ page_number }}">{{ page_number }}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a class="page-link" style='background-color:#5e0080; border-color:#dee2e6;' href="?review_page={{ page_number }}">{{ page_number }}</a>
                    </li>
                  {% endif %}
                {% endfor %}

                <!-- 다음페이지 -->
                {% if inquiries.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?review_page={{ reviews.next_page_number }}">
                      <i class="bi bi-chevron-double-right"></i>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                      <i class="bi bi-chevron-double-right"></i>
                    </a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
        </div>

        <script>
          const swiper = new Swiper('#test-slide', {
            // Optional parameters
            direction: 'horizontal',
            slidesPerView: 4,
            spaceBetween: 15,
            loop: false,

            pagination: {
              el: '.swiper-pagination'
            },

            // Navigation arrows
            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev'
            }
          });
        </script>

      {% endblock content %}
      {% block script %}
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>



<!--이모티콘 누르면 작동-->
        <script>
          $('#myReview').click(function () {
            if (($('#myReviewResult').css("display") === "none") && ($('#myReservationResult').css("display") === "none") && ($('#myPayResult').css("display") === "none")) {
              $('#myReservationResult').hide();
              $('#myPayResult').hide();
              $('#myReviewResult').show();
            } else if (($('#myReviewResult').css("display") === "none") && ($('#myReservationResult').css("display") !== "none") && ($('#myPayResult').css("display") === "none")) {
              $('#myReservationResult').hide();
              $('#myPayResult').hide();
              $('#myReviewResult').show();
            } else if (($('#myReviewResult').css("display") === "none") && ($('#myReservationResult').css("display") === "none") && ($('#myPayResult').css("display") !== "none")) {
              $('#myReservationResult').hide();
              $('#myPayResult').hide();
              $('#myReviewResult').show();
            } else {
              if ($('#myReviewResult').css("display") !== "none") {
                $('#myReviewResult').hide();
              } else {
                $('#myReviewResult').show();
              }
            }
          });
      
          $('#myReservation').click(function () {
            if (($('#myReservationResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myPayResult').css("display") === "none")) {
              $('#myReviewResult').hide();
              $('#myPayResult').hide();
              $('#myReservationResult').show();
            } else if (($('#myReservationResult').css("display") === "none") && ($('#myReviewResult').css("display") !== "none") && ($('#myPayResult').css("display") === "none")) {
              $('#myReviewResult').hide();
              $('#myPayResult').hide();
              $('#myReservationResult').show();
            } else if (($('#myReservationResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myPayResult').css("display") !== "none")) {
              $('#myReviewResult').hide();
              $('#myPayResult').hide();
              $('#myReservationResult').show();
            } else {
              if ($('#myReservationResult').css("display") !== "none") {
                $('#myReservationResult').hide();
              } else {
                $('#myReservationResult').show();
              }
            }
          });
      
          $('#myPay').click(function () {
            if (($('#myPayResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myReservationResult').css("display") === "none")) {
              $('#myReviewResult').hide();
              $('#myReservationResult').hide();
              $('#myPayResult').show();
            } else if (($('#myPayResult').css("display") === "none") && ($('#myReviewResult').css("display") !== "none") && ($('#myReservationResult').css("display") === "none")) {
              $('#myReviewResult').hide();
              $('#myReservationResult').hide();
              $('#myPayResult').show();
            } else if (($('#myPayResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myReservationResult').css("display") !== "none")) {
              $('#myReviewResult').hide();
              $('#myReservationResult').hide();
              $('#myPayResult').show();
            } else {
              if ($('#myPayResult').css("display") !== "none") {
                $('#myPayResult').hide();
              } else {
                $('#myPayResult').show();
              }
            }
          });
        </script>
      {% endblock script %}