{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load static %}
{% bootstrap_javascript %}
<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/header.css' %}"/>
<link rel="stylesheet" href="{% static 'css/mypage.css' %}"/>
<!-- <link rel="stylesheet" href=".././mypage.css"> -->

<script src="https://kit.fontawesome.com/a43f3ad032.js" crossorigin="anonymous"></script>

<!--상단이미지-->
{% block content %}
  <!-- 프로필 style -->
  <style>
    .profit #profit_main {
      margin-top: 50px;
      width: 500px;
      height: 362px;
      border: 5px #ebebeb solid;
      text-align: center;
      font-size: 18px;

    }
  </style>

  <!-- 수정완료 -->
  <section class="hero">
    <img src="https://i.esdrop.com/d/f/bvRLlOwptP/Vqr3z7jiaw.png" alt="ski login img">

    <div class="col-md-1">
      <div class="carousel-caption" style="top:150px; max-height:100px;">
        <h1 style="font-size:55px;padding-top:0px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;">마이페이지
        </h1>
      </div>
    </div>
  </section>

  <!-- 회원정보 -->
  <div id="wrap">
    <div id="container">
      <div class="middle">
        <!-- sidemenu -->
        <div class="side_menu">
          <ul id="side_menu_mypage">
            <li>마이 위스키</li>
          </ul>
          <ul id="side_menu_delivery">
            <li>
              <span>마이 위스키</span></li>
            <li>
              <a href="{% url 'accounts:update' customer.pk %}">
                <span>회원정보 수정&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></span></a>
            </li>
            <li>
              <a href="">
                <span>나의 예약/구매&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></span></a>
            </li>
            <li>
              <a href="">
                <span>예약 문의&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></span></a>
            </li>
            <li>
              <a href="">
                <span>적립금&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></span></a>
            </li>
            <li class="side_menu_last">
              <a href="">
                <span>구매 관리&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></span></a>
            </li>
          </ul>
          <ul id="side_menu_user">
            <li>
              <a href="">
                <span>1:1 문의하기&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp></span></a>
            </li>
            <li class="side_menu_last">
              <a href="">
                <span>마이 활동
                </span>
              </a>
            </li>
          </ul>
        </div>
        <!-- sidemenu -->
        <div>
          <!-- 회원정보 관리 -->
          <div class="header_explain">
            <div id="explain_head">
              회원정보 관리
            </div>
            <div id="explain_body">
              <p>
                <strong>회원정보</strong>
                (예약일기준)<br>
                (출금계좌 정보는 마이위스키 > 나의 구매 페이지에서 확인 및 수정 가능)</p>
            </div>
          </div>
          <!-- 프로필 -->
          <div class="profit">
            <div id="profit_main">
              <div class="px-4 py-3" style="border-radius: 15px; ">
                <!-- 프로필 편집, 회원탈퇴 아이콘 -->
                <div class="d-flex justify-content-lg-end">
                  {% if request.user.pk == customer.pk %}
                    <a href="{% url 'accounts:update' customer.pk %}">
                      <i class="fa-solid fa-gear fix-account"></i>
                    </a>
                    <a href="{% url 'accounts:delete' customer.pk %}">
                      <i class="fa-solid fa-trash del-account"></i>
                    </a>
                  {% endif %}
                </div>
                <div class="d-flex justify-content-center pb-3">
                  {% if customer.image %}
                    <img src="{{ customer.image.url }}" style='width: 130px; height: 130px; object-fit: cover;' class="rounded-circle" alt="">
                  {% else %}
                    <img src="https://dummyimage.com/130x130/00ffdd/00ffdd.jpg" style='width: 130px; height: 130px; object-fit: cover;' class="rounded-circle" alt="">
                  {% endif %}
                </div>
                <div class="d-flex justify-content-between">
                  <p style="font-size: 24px;font-weight: 800; color: black; margin:0 30px 8px;">
                    {{ customer.username }}</p>
                </div>
                <div class="d-flex justify-content-between">
                  <p class="text-black fw-bold" style="font-size: 16px; margin:0 30px 8px;">{{ customer.email }}</p>
                </div>
                <!-- 가로로 정렬 -->
                <div class="row mb-3">
                  <div class="col d-flex flex-column align-items-center" style="height: 7px;"></div>
                  <div class="col d-flex flex-column align-items-center border-start" style="height: 7px;"></div>
                  <div class="col d-flex flex-column align-items-center border-start" style="height: 7px;"></div>
                </div>
                <!-- px-4 버튼 너비 조절 -->
                <div class="px-3">
                  <a href="{% url 'accounts:update' customer.pk %}"><input class="form-control btn text-white" style="background-color: #6495ED; font-weight: 500;" type="submit" value='프로필 편집'></a>
                </div>
              </div>
              <!-- profit_main -->
            </div>
            <!-- profit -->
          </div>
          <!-- container -->
        </div>
        <!-- wrap -->
      </div>

      <!-- 프로필 하단 리뷰, 예약, 결제 영역 -->
      <div class="container d-flex flex-column bg-white rounded-5 mt-5">
        <div class="menu navbar-nav d-flex flex-row justify-content-center py-4">
          <li>
            <a type="button" id="myReview" class="pe-2 text-black" style="text-decoration:none;">
              <h5>
                <i class="fa-regular fa-star"></i>
                리뷰
              </h5>
            </a>
          </li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a type="button" id="myReservation" class="pe-2 text-black" style="text-decoration:none;">
              <h5>
                <i class="fa-regular fa-bookmark"></i>
                예약
              </h5>
            </a>
          </li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a type="button" id="myPay" class="text-black" style="text-decoration:none;">
              <h5>
                <i class="fa-regular fa-credit-card"></i>
                결제
              </h5>
            </a>
          </li>
        </div>

        <!-- 구매목록 myPay -->
        <div id="myPayResult" style="display: none;">
          <div class="container d-flex flex-column justify-content-center align-items-center" style="max-width:1070px; font-weight: 600; padding: 60px 0 0;">
            <p style="font-weight: 700; font-size: 28px; color: rgb(51, 51, 51); margin-bottom: 27px;">구매 목록</p>
            <div class="d-flex align-items-center justify-content-center" style="width: 1070px; margin: 0 auto;">
              {% if not order_transactions %}
                <div class="d-flex justify-content-center">
                  <p style="font-size: 24px; color: rgb(204, 204, 204);">아직 구매목록이 없습니다. 💸</p>
                </div>
              {% else %}
                <div class='d-flex row' style="margin: 0 auto; width: 1070px; overflow-x: scroll; overflow: hidden; gap: 5px; padding: 0px;">
                  <div class="scrolling-wrapper d-flex" style="width: 1070px; gap:10px">
                    {% for place in order_transactions %}
                      <div class="productcard swiper-slide" style="border: 0px solid black; color: rgb(51, 51, 51); width: 256px; height: 435px;" data-value="{{ place.category }}">
                        <a href="{% url 'products:detail' place.pk %}" style="color:rgb(51, 51, 51)">
                          <div class="product-img">
                            <img src="{{ place.image_set.all.0.image.url }}" alt="" width="100%" height="329px" style="object-fit: cover">
                          </div>
                        </a>
                        <!-- 모달버튼 -->
                        <button type='button' style='border:none; background-color:transparent;' class='ddib-to-cart d-flex' data-bs-toggle="modal" data-bs-target='#ddibtocartModal-{{ product.pk }}'>
                          <img style='top: 278px' class='cart-img position-absolute end-0 mx-2' src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDUiIHZpZXdCb3g9IjAgMCA0NSA0NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGNpcmNsZSBmaWxsPSIjMkEwMDM4IiBvcGFjaXR5PSIuNSIgY3g9IjIyLjUiIGN5PSIyMi41IiByPSIyMi41Ii8+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTEuMDMgMTQuMzgpIiBzdHJva2U9IiNGRkYiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0ibTIwLjQ2IDIuOTEtMi4xNyA5LjIzSDUuODdMMy43MSAyLjkxeiIvPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS13aWR0aD0iMS4yIiBjeD0iMTYuMzUiIGN5PSIxNi44NiIgcj0iMS43Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLXdpZHRoPSIxLjIiIGN4PSI3LjgyIiBjeT0iMTYuODYiIHI9IjEuNyIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2Utd2lkdGg9IjEuNCIgZD0iTTAgMGgzLjAybDEuNDEgNS45OCIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==" alt="">
                        </button>
                        <div style="padding: 12px 10px 0 0">
                          <div class="d-flex justify-content-between">
                            <span class="m-0" style="color:#B5B5B5; font-weight: 400;">{{ place.name }}</span>
                            <span class="m-0" style="padding: 0px 10px; border-radius: 22px; background-color: rgba(274, 243, 248, 1); color:#5e0080; font-weight: 500;">
                              {{ place.address }}</span>
                          </div>
                          <p class='product-name' style="font-weight: 400; font-size: 14px; margin-bottom: 8px;">
                            {{ place.subtext }}
                          </p>
                          <p class="m-0" style="font-weight: 800; font-size: 16px;">{{ place.price }}
                            원</p>
                        </div>
                      </div>
                      <!-- 모달 -->
                      <div class="modal fade" id="ddibtocartModal-{{place.pk }}" tabindex="-1" aria-labelledby="ddibtocartModalLabel" aria-hidden="true">
                        <div class="modal-dialog" style="margin: 200px auto">
                          <div class="modal-content">

                            <div class="modal-body item-cart-modals" data-item-id="{{ place.pk }}" style="padding: 30px 30px;">

                              <div class='text-center mb-3'>
                                {{ place.name }}
                              </div>
                              <div class="row"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- 리뷰 내역 myReview-->
        <div id="myReviewResult" style="display: none;">
          <div class='container' style="max-width: 1070px; padding: 60px 0;">
            <div style="padding: 0 40px;">
              <p class="text-center" style="font-weight: 700; font-size: 28px; color: rgb(51, 51, 51); margin-bottom: 27px;">리뷰 내역</p>
              {% if not reviews %}
                <div class="d-flex justify-content-center">
                  <p style="font-size: 24px; color: rgb(204, 204, 204);">아직 리뷰내역이 없습니다 📝</p>
                </div>
              {% else %}
                <!-- 리뷰 등록 버튼 & 모달 -->
                <div class="row">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <p class="fw-bold m-0" style='font-size: 18px; font-weight: 700;'>리뷰 내역</p>

                  </div>
                </div>

                <!-- 리뷰 목록 -->
                <div class="row px-3 mb-5" style="border-top:1px solid black;">
                  <table class="table">
                    <thead class="text-center">
                      <tr>
                        <th scope="col" style="width: 710px;">제목</th>
                        <th scope="col" style="width: 100px;">작성자</th>
                        <th scope="col" style="width: 100px;">작성일</th>
                        <th scope="col" style="width: 100px;">답변상태</th>
                      </tr>
                    </thead>

                    <tbody id="reviewTableBody">
                      {% for review in reviews %}
                        <tr class="review-{{ review.pk }}" data-bs-toggle="collapse" data-bs-target="#collapse-review-{{ review.pk }}" aria-expanded="false" style="vertical-align: middle;">
                          <td id="review-title-{{ review.pk }}" class="px-3" scope="row" style="width: 710px;">{{ review.title }}</td>
                          <td style="width: 100px;" class="text-center">{{ review.user }}</td>
                          <td style="width: 100px;" class="text-center">{{ review.created_at|date:'Y.m.d' }}</td>
                          {% if inquiry.reply %}
                            <td style="width: 100px;" class="text-center">
                              <span style="color:#5e0080">답변완료</span>
                            </td>
                          {% else %}
                            <td id="reply-status-{{ review.pk }}" style="width: 100px;" class="text-center">-</td>
                          {% endif %}
                        </tr>

                        <!-- 리뷰 내용 및 답변 Collapse -->
                        <tr class="collapse review-{{ review.pk }}" id="collapse-review-{{ review.pk }}">
                          <td colspan="4" class="text-bg-light px-3">
                            <div>
                              <div class="d-flex">
                                <div class="me-3">Q.</div>
                                <div id="review-content-{{ review.pk }}">{{ review.content }}</div>
                              </div>
                            </div>
                          </div>

                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>

              <!-- 리뷰 페이지네이션 -->
              <ul class="pagination justify-content-center">
                <!-- 이전 페이지 -->
                {% if reviews.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?review_page={{ reviews.previous_page_number }}" aria-label="Previous">
                      <i class="bi bi-chevron-double-left"></i>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                      <i class="bi bi-chevron-double-left"></i>
                    </a>
                  </li>
                {% endif %}

                <!-- 페이지 리스트 -->
                {% for page_number in reviews.paginator.page_range %}
                  {% if page_number == reviews.number %}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" style='background-color:#20b2aa; border-color:#dee2e6;' href="?review_page={{ page_number }}">{{ page_number }}</a>
                    </li>
                  {% else %}
                    <li class="page-item">
                      <a class="page-link" style='background-color:#20b2aa; border-color:#dee2e6;' href="?review_page={{ page_number }}">{{ page_number }}</a>
                    </li>
                  {% endif %}
                {% endfor %}

                <!-- 다음페이지 -->
                {% if inquiries.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?review_page={{ reviews.next_page_number }}">
                      <i class="bi bi-chevron-double-right"></i>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                      <i class="bi bi-chevron-double-right"></i>
                    </a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
        </div>

        <script></script>

      {% endblock content %}
      {% block script %}
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>

        <!--이모티콘 누르면 작동-->
        <!-- 프로필 하단 영역 클릭할 때마다 jQuery 처리 -->
        <script>
          $('#myReview').click(function () {
            if (($('#myReviewResult').css("display") === "none") && ($('#myReservationResult').css("display") === "none") && ($('#myPayResult').css("display") === "none")) {
              $('#myReservationResult').hide();
              $('#myPayResult').hide();
              $('#myReviewResult').show();
              console.log('myReview1')

            } else if (($('#myReviewResult').css("display") === "none") && ($('#myReservationResult').css("display") !== "none") && ($('#myPayResult').css("display") === "none")) {
              $('#myReservationResult').hide();
              $('#myPayResult').hide();
              $('#myReviewResult').show();
              console.log('myReview2')
            } else if (($('#myReviewResult').css("display") === "none") && ($('#myReservationResult').css("display") === "none") && ($('#myPayResult').css("display") !== "none")) {
              $('#myReservationResult').hide();
              $('#myPayResult').hide();
              $('#myReviewResult').show();
              console.log('myReview3')
            } else {
              if ($('#myReviewResult').css("display") !== "none") {
                $('#myReviewResult').hide();
                console.log('myReview4')
              } else {
                $('#myReviewResult').show();
                $('#myPayResult').hide();
                console.log('myReview5')
              }
            }
          });

          $('#myReservation').click(function () {
            if (($('#myReservationResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myPayResult').css("display") === "none")) {
              $('#myReviewResult').hide();
              $('#myPayResult').hide();
              $('#myReservationResult').show();
              console.log('myReservation1')
            } else if (($('#myReservationResult').css("display") === "none") && ($('#myReviewResult').css("display") !== "none") && ($('#myPayResult').css("display") === "none")) {
              $('#myReviewResult').hide();
              $('#myPayResult').hide();
              $('#myReservationResult').show();
              console.log('myReservation2')
            } else if (($('#myReservationResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myPayResult').css("display") !== "none")) {
              $('#myReviewResult').hide();
              $('#myPayResult').hide();
              $('#myReservationResult').show();
              console.log('myReservation3')
            } else {
              if ($('#myReservationResult').css("display") !== "none") {
                $('#myReservationResult').hide();
                console.log('myReservation4')
              } else {
                $('#myReservationResult').show();
                console.log('myReservation5')
              }
            }
          });

          $('#myPay').click(function () {
            if (($('#myPayResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myReservationResult').css("display") === "none")) {
              $('#myReviewResult').hide();
              $('#myReservationResult').hide();
              $('#myPayResult').show();
              $('#myReviewResult').hide();
              console.log('myPay1')
            } else if (($('#myPayResult').css("display") === "none") && ($('#myReviewResult').css("display") !== "none") && ($('#myReservationResult').css("display") === "none")) {
              $('#myReviewResult').hide();
              $('#myReservationResult').hide();
              $('#myPayResult').show();
              console.log('myPay2')
            } else if (($('#myPayResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myReservationResult').css("display") !== "none")) {
              $('#myReviewResult').hide();
              $('#myReservationResult').hide();
              $('#myPayResult').show();
              console.log('myPay3')
            } else if (($('#myPayResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myReservationResult').css("display") !== "none")) {
              $('#myReviewResult').hide();
              $('#myReservationResult').hide();
              $('#myPayResult').show();
              console.log('myPay4')
            } else {
              if ($('#myPayResult').css("display") !== "none") {
                $('#myPayResult').hide();
                console.log('myPay5')
              } else {
                $('#myPayResult').show();
                $('#myReviewResult').hide();
                console.log('myPay6')
              }
            }
          });
        </script>
      {% endblock script %}
