{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
  <div class="container">
    <div class="row d-flex align-items-center" style="height: 600px;">
      <div class="col-4 mx-auto">
        <h1 class="fw-bold">로그인</h1>
        <hr>
        <form action="" method="POST" class="d-flex align-items-center">
          {% csrf_token %}
          <div>
            {% bootstrap_form forms %}
          </div>
          <div>
            <input type="submit" value="로그인">
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}