{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<!--상단이미지-->
<section class="hero">
  <div style="position:relative;">
    <img src="https://i.esdrop.com/d/f/bvRLlOwptP/DFtbmFkAii.png" style="max-height:300px;"
      alt="place review detail img">
  </div>
  <div>
    <div class="carousel-caption hero-text" style=" max-height:100px;">
      <div class="hero-text2"
        style="position:absolute; bottom:500px; right:3rem;font-size:3rem;padding-top:0px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;word-wrap: break-word; max-width:900px;">
        {{ place.name }}</div>
    </div>
  </div>
  </div>
</section>

<div class="container my-5">
  <div class="row"></div>
  <div class="row">
    <div class="col-7">
      <div class="d-flex align-items-center ms-3" style="position:relative; margin-bottom:20px;margin-top:20px;">
        <h3 id="place_name" style="word-wrap: break-word;max-width:400px;">{{ place.name }}</h3>
        <!-- 즐겨찾기 -->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if request.user.is_authenticated %}
        <form class="like-forms" data-place-id="{{ place.pk }}">
          {% csrf_token %}
          {% if user in place.like_users.all %}
          <button id="like-{{ place.pk }}" type="submit"
            style="background: none; border: 0; color: var(--yellow-color);">
            <i id="star-{{ place.pk }}" class="fa-solid fa-star fa-2x"></i>
          </button>
          {% else %}
          <button id="like-{{ place.pk }}" type="submit" style="background: none; border: 0; color: var(--gray-color);">
            <i id="star-{{ place.pk }}" class="fa-regular fa-star fa-2x"></i>
          </button>
          {% endif %}
        </form>
        {% endif %}
        <!-- 조회수 -->
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-eye ms-3 me-1"></i>
          <p class="m-0">{{ place.hits }}</p>
        </div>
        <!-- 즐겨찾기 수 -->
        <div class="d-flex align-items-center">
          <i class="fa-solid fa-star ms-3 me-1"></i>
          <div id="star-count">
            <p class="m-0">{{ place.like_users.count }}</p>
          </div>
        </div>
        <div class="justify-content-end">
          <div>
            <a href="{% url 'places:place_reviews' place.pk %}">
              <button type="button" class="btn btn-outline-dark" style="margin:15px;">리뷰보기</button>
            </a>

          </div>
        </div>
      </div>
    </div>

    <!-- main img g-2 d-flex flex-nowrap-->
    <div class="row">
      {% if place.photo_main %}

      <div class="col-md-6">
        <br><br>
        <img src="{{ place.photo_main.url }}" class="card-img-top " alt=""
          style="border-radius:3%;width:100%; height:400px;">
      </div>
      {% else %}
      <br><br>
      <div class="col" style="width: 750px; height:500px;">
        <img src="https://i.esdrop.com/d/f/bvRLlOwptP/bNItCX0Ubw.jpg" class="card-img-top img-fluid" alt="스키맨"
          style="width: 100%; height: 100%;">
      </div>
      {% endif %}

      <div class="col-md-6" style="font-size:16px;">
        {% if request.user == place.user %}
        <!--작성자가 아닌경우 안보여야함<a href="{% url 'places:delete' place.pk %}">삭제하기</a> <a href="{% url 'places:update' place.pk %}">수정하기</a>-->
        <a href="{% url 'places:delete' place.pk %}">
          <button type="button" class="btn btn-dark" style="margin:10px; margin-left:200px;">삭제</button>
        </a>
        <a href="{% url 'places:update' place.pk %}">
          <button type="button" class="btn btn-outline-dark">수정</button>
        </a>
        {% endif %}

        <table>
          <tbody>
            <tr>
              <br>
              <th style="padding-bottom:5px;">&nbsp;&nbsp;주소</th>
              <td id="address" style="padding-bottom:5px;word-wrap: break-word; max-width:300px;">
                &nbsp;&nbsp;&nbsp;&nbsp;{{ place.address }}</td>
            </tr>
            <tr>
              <th style="padding-bottom:5px;">
                &nbsp;&nbsp;전화번호</th>
              <td style="padding-bottom:5px;word-wrap: break-word; max-width:300px;">&nbsp;&nbsp;&nbsp;&nbsp;
                {{ place.contact_number }}</td>
            </tr>
            <tr>
              <th style="padding-bottom:5px;">&nbsp;&nbsp;영업시간</th>
              <td style="padding-bottom:5px;word-wrap: break-word; max-width:300px;">&nbsp;&nbsp;&nbsp;&nbsp;
                {{ place.opening_time }}</td>
            </tr>
            <tr>
              <th style="padding-bottom:5px;">&nbsp;&nbsp;휴무일</th>
              <td style="padding-bottom:5px;word-wrap: break-word; max-width:300px;">&nbsp;&nbsp;&nbsp;&nbsp;
                {{ place.break_day }}</td>
            </tr>
            <tr>
              <th style="padding-bottom:5px;">&nbsp;&nbsp;금액</th>
              <td style="padding-bottom:5px;word-wrap: break-word; max-width:300px;">&nbsp;&nbsp;&nbsp;&nbsp;
                {{ place.price }}</td>
            </tr>
            <tr>
              <th style="padding-bottom:8px;">&nbsp;&nbsp;소개글</th>
              <td style="padding-bottom:8px; word-wrap: break-word; max-width:300px;">&nbsp;&nbsp;&nbsp;&nbsp;
                {{ place.subtext }}</td>
            </tr>
          </tbody>
        </table>

        <!-- map -->
        <br>
        <div class="col card-img-top img-fluid" id="map" style="border-radius:3%;width:450px; height:250px;"></div>
      </div>
    </div>

    <!-- Detail 이미지 -->
    <br>
    <div class="container">
      <br>
      <div class="row d-flex align-items-center">
        <h2 class="text-center">음식</h2>
        {% if place.photo_food %}
        <div class="col" style="width: 100%; height:100%;">
          <img src="{{ place.photo_food.url }}" class="card-img-top img-fluid p-3" alt=""
            style="width: 100%; height: 100%;">
        </div>
        {% else %}
        <div class="col" style="width: 100%; height:100%;">
          <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top img-fluid p-3" alt=""
            style="width: 100%; height: 100%;">
        </div>
        {% endif %}
        <h2 class="text-center">부대시설</h2>
        {% if place.photo_facilities %}
        <div class="col" style="width: 100%; height:100%;">
          <img src="{{ place.photo_facilities.url }}" class="card-img-top img-fluid p-3" alt=""
            style="width: 100%; height: 100%;">
        </div>
        {% else %}
        <div class="col" style="width: 100%; height:100%;">
          <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top img-fluid p-3" alt=""
            style="width: 100%; height: 100%;">
        </div>
        {% endif %}
        <h2 class="text-center">숙박시설</h2>
        {% if place.photo_accommodation %}
        <div class="col" style="width:100%; height:100%;">
          <img src="{{ place.photo_accommodation.url }}" class="card-img-top img-fluid p-3" alt=""
            style="width: 100%; height: 100%;">
        </div>
        {% else %}
        <div class="col" style="width:100%; height:100%;">
          <img src="https://dummyimage.com/1200x960/000000/c4c4c4" class="card-img-top img-fluid p-3" alt=""
            style="width: 100%; height: 100%;">
        </div>
      </div>
    </div>
    {% endif %}

    <!-- Script -->
    <!-- map -->
    <div class="col-5">
      <script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7e339ba845705af99133e0be07936453&libraries=services"></script>
      <script>
        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
          mapOption = {
            center: new kakao
              .maps
              .LatLng(37.4882, 127.0412), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
          };

        // 지도를 생성합니다
        var map = new kakao
          .maps
          .Map(mapContainer, mapOption);

        // 주소-좌표 변환 객체를 생성합니다
        var geocoder = new kakao
          .maps
          .services
          .Geocoder();

        // 주소로 좌표를 검색합니다
        var address = document
          .querySelector('#address')
          .innerText
        console
          .log(address)
        geocoder.addressSearch(address, function (result, status) {

          // 정상적으로 검색이 완료됐으면
          if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao
              .maps
              .LatLng(result[0].y, result[0].x);

            // 결과값으로 받은 위치를 마커로 표시합니다
            var marker = new kakao
              .maps
              .Marker({ map: map, position: coords });

            // 인포윈도우로 장소에 대한 설명을 표시합니다
            var place_name = document
              .querySelector('#place_name')
              .innerText
            var infowindow = new kakao
              .maps
              .InfoWindow({
                content: '<div style="width:150px;text-align:center;padding:6px 0;">' + place_name + '</div>'
              });
            infowindow.open(map, marker);
            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);
          }
        });
      </script>
      <!-- 즐겨찾기 -->
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script>
        const forms = document.querySelectorAll('.like-forms')
        const csrftoken = document
          .querySelector('[name=csrfmiddlewaretoken]')
          .value;

        forms.forEach((form) => {
          form.addEventListener('submit', function (event) {
            event.preventDefault();
            const placeId = event
              .target
              .dataset
              .placeId
            axios({
              method: 'post',
              url: `http://127.0.0.1:8000/${placeId}/like/`,
              headers: {
                'X-CSRFToken': csrftoken
              }, // csrf token
            })
              .then((response) => {
                console.log(response.data)
                const isLiked = response.data.is_liked
                const likeBtn = document.querySelector(`#like-${placeId}`)
                const starBtn = document.querySelector(`#star-${placeId}`)
                const likeCountTag = document.querySelector('#star-count')
                const likeCount = response.data.like_count
                likeCountTag.innerText = likeCount
                if (isLiked === true) {
                  starBtn
                    .classList
                    .remove('fa-regular')
                  starBtn
                    .classList
                    .add('fa-solid')
                  starBtn.style.color = 'var(--yellow-color)';
                } else {
                  starBtn
                    .classList
                    .remove('fa-solid')
                  starBtn
                    .classList
                    .add('fa-regular')
                  starBtn.style.color = 'var(--gray-color)';
                }
              })
              .catch((error) => {
                console.log(error.response)
              })
          })
        })
      </script>
      {% endblock %}