{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<h2>{{ place.name }}</h2>
<div class="container">
    {% for review in reviews %}
    <div class="card mb-2" style="width: 50rem; height:20rem">
        <div class="card-body">
            <p class="card-text">
            <h5>{{ review.title }}
                {% if review.rating == 5 %}
                <span>⭐⭐⭐⭐⭐</span>
                {% elif review.rating == 4 %}
                <span>⭐⭐⭐⭐</span>
                {% elif review.rating == 3 %}
                <span>⭐⭐⭐</span>
                {% elif review.rating == 2 %}
                <span>⭐⭐</span>
                {% elif review.rating == 1 %}
                <span>⭐</span>
                {% endif %}
            </h5>
            <p>{{ review.content }}</p>
        </div>
        <div class="row">
            {% for image in review.review_images.all %}
            <div class="col" style="width:20rem; height:20rem;">
                <img src="{{ image.image.url }}" class="card-img-top" alt="..." style="width: 50%; height:50%;">
            </div>
            {% empty %}
            <h5>리뷰 사진이 없습니다.</h5>
            {% endfor %}
        </div>

    </div>
    {% empty %}
    <h5>아직 리뷰가 없습니다.</h5>
    {% endfor %}

</div>

{% endblock %}