{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<!--상단이미지-->
<section class="hero">
    <div style="position:relative;">
    <img src="https://i.esdrop.com/d/f/bvRLlOwptP/MX8DwNh7gT.png" alt="place review detail img">
    </div>
    <div class="row-2>
    </div>
         <div class="col-md-1"style="position:relative;">
          <div class="carousel-caption hero-text" style=" max-height:100px;">
            <div class="hero-text2"style="font-size:55px;padding-top:0px; text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;">{{ place.name }}리뷰</div>
       </div>
      </div>
    </div>
  </section>


<div class="container ml-5">
<!--리뷰 작성 버튼-->
  <div class="d-flex justify-content-center" style="position:absolute;right:2rem; bottom:10rem;">
    <a class="nav-link" href="{% url 'reviews:create' %}">
        <button type="button" class="btn btn-outline-dark">리뷰작성</button>
    </a>
  </div>

<!-- 리뷰 내용 -->  
    {% for review in reviews %}
    {% comment %} <div class="row d-flex justify-content-center align-items-center"> {% endcomment %}
        <div class="d-flex flex-column justify-content-center align-items-center" style="margin-top:60px;">
          <div class="my-4">
    {% comment %} <div class="card mb-2" style="width: 50rem; height:20rem">
    <div class="card-body">
        <p class="card-text"> {% endcomment %}
        

<!--누르면 수정 삭제-->
    
    <a href="{% url 'reviews:detail' review.pk %}" class="row text-dark" style="text-decoration: none;"> 
         
                 
    
    <!-- 유저 프로필 -->
    <div class="d-flex align-items-start">
        {% if review.user.profile_image %}
        <img src="{{ review.user.profile_image.url }}" alt="작성자 프로필 이미지">
        {% else %}
        <img src="https://i.esdrop.com/d/t/bvRLlOwptP/bTMDQr9Zl1.jpg" style="width: 40px; height: 40px; border-radius:50%" alt="default_profile_image">
        {% endif %}
        <h4 class="mx-3 d-flex align-items-center my-0">
        {{ review.user.username }}</h4>
    </div>
    <h5>
        {% if review.rating == 5 %}
        <span>⭐⭐⭐⭐⭐</span>
        {% elif review.rating == 4 %}
        <span>⭐⭐⭐⭐</span>
        {% elif review.rating == 3 %}
        <span>⭐⭐⭐</span>
        {% elif review.rating == 2 %}
        <span>⭐⭐</span>
        {% elif review.rating == 1 %}
        <span>⭐</span>
        {% endif %}
        <br>
        <div style="margin-top:1rem;">
        {{ review.title }}
        </div>    
    </h5>

<!--리뷰내용-->
    
    <p>{{ review.content }}</p>
    </div>

        {% for image in review.review_images.all %}
            <img src="{{ image.image.url }}" style="object-fit:cover; width: 100%; height:300px; margin-bottom:5rem;" alt="review img>
        
        <hr>
        {% empty %}
        <img src="https://i.esdrop.com/d/f/bvRLlOwptP/Tx9Me0oz1k.jpg" style=" object-fit:cover;width:100%; height:300px;" alt="no img detault">
        <hr>
        {% endfor %}
    </div>

    </div>
    {% empty %}
    <h5>아직 리뷰가 없습니다.</h5>
    
    {% endfor %}

</div>
</div>
{% endblock %}